{% load static %}

<link rel="stylesheet" href="/static/css/test.css">
<link rel="stylesheet" href="{% static 'css/test2.css' %}">
<h1>Book 입력 또는 수정 </h1>
<form method='post'>
  {% csrf_token %}
  제목:<input type="text" name="title" /><br>
  작가:<input type="text" name="author" /><br>
  출판사:<input type="text" name="publisher" /><br>
  <input type = "submit" value="저장하기"/>
</form>
<hr>
<form method='post' enctype="multipart/form-data">
  {% csrf_token %}
  {{form.as_p}}
  <input type = "submit" value="저장하기"/>
</form>
<hr>
<img src="/static/img/img7.jpg"/>
<img src="{% static 'img/img8.jpg' %}"/>
