<!DOCTYPE html>
<html lang="ko">
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootsrap CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ"
        crossorigin="anonymous">

  <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">

    <title>Student Project</title>
    {% block head %}   
    {% endblock head %}

</head>

<body>


<!--****** Navigation Bar ******-->
<nav class="navbar #fixed-top navbar-expand-sm bg-dark navbar-dark " id="top_navbar">
  <div class="container">
      
      <!-- 브랜드 로고 -->
      <a href="#" class="navbar-brand">
          <img style='vertical-align:bottom;height:30px' src="{% static '/img/play_data_white.png' %}" alt="Playdata">
          <span class="font-weight-bold h2">{{ message }}</span>
      </a>
      <!-- 햄버거 버튼  -->
      <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#myNavbar">
          <span class="navbar-toggler-icon"></span>
      </button>

      <!-- </div> -->

      <!-- 모바일 환경 적용 옵션 -->
      <!-- 특정 px 미만 일 시에 본 태그 안의 내용이 모바일 형태의 레이아웃으로 변경됨 -->
      <div class="collapse navbar-collapse justify-content-end" id="myNavbar">
          <!-- 메뉴 목록 -->
          <!-- navbar-right: 메뉴 우측 정렬, navbar-left: 메뉴 좌측 정렬 -->
          <ul class="nav navbar-nav"  id="top_navbar-nav">
              <li class="nav-item"><a class="nav-link" href="{% url 'main:major_list' %}">전공 메뉴</a></li>
              <li class="nav-item"><a class="nav-link" href="{% url 'main:student_list' %}">학생 메뉴</a></li>
              <!-- 본 메뉴 클릭 시 모달창 적용 -->
              <li class="nav-item"><a class="nav-link" href="#" data-toggle="modal" data-target="#myModal"><i class="fas fa-sign-in-alt"></i> 로그인</a></li>
          </ul>
      </div>
  </div>
</nav>

  {% block body %}  
  {% endblock body %}
</body>
</html>


