{% extends "shop/layout.html" %}


{% block content %}

{{article |linebreaks }}
{{article.title |linebreaks }}
{{first_name |linebreaks }}
{{people |linebreaks }}
{{people.0 |linebreaks }}
{{person |linebreaks }}
{{person.say_hello |linebreaks }}

{% for st in  student_list %}
   {{st}}
{% empty %}
   <h1>학생정보가 없습니다.</h1>
{% endfor %}
<hr>

{% if student_list %}
    {% for st in  student_list %}
        {{st}}
    {% endfor %}
{% else %}
    <h1>학생정보가 없습니다.</h1>
{% endif %}
<hr>
It is {% now "jS F Y H:i" %}
<hr>
{{ datetime_obj|date:"D d M Y" }} 

<hr>
{{ dt|date:'D d M Y'}} <br>
{{ dt|date:"DATE_FORMAT"}} <br>
{{ dt|date:"D d M Y" }} <br>
{{ dt|date:"DATE_FORMAT" }} <br>
{{ dt|date:"DATETIME_FORMAT" }}<br>
{{ dt|date:"SHORT_DATE_FORMAT" }} <br>
{{ dt|date:"SHORT_DATETIME_FORMAT" }} <br>
{{ dt|time:"TIME_FORMAT" }} <br>
<hr>
1:{{ past_dt|timesince}}<br>
{{past_dt}}<br>
{{dt}}<br>
2:{{ past_dt|timesince:dt }} <br>
3:{{ future_dt|timeuntil }} <br>
3:{{ future_dt|timeuntil:dt }} <br>
4:{{ future_dt|timeuntil:past_dt}} <br>
4:{{ future_dt|timeuntil:past_dt|length}} <br>

<hr>
1.{{ value|default:"nothing" }}<br>
2.{{ value2|default_if_none:"nothing" }}<br>
3.{{ value3|join:"//"}}<br>
4.문자길이:{{ value3|length }}<br>
5.문자길이와 조인:{% with data="파이\n썬"%}
   {{data|length}}<br>
   {{data|join:","}}
 {% endwith%}
6. {{value3|linebreaks}}
7. {{value3|random}} <br>
8. {{value3|slice:":2" }}<br>
8. {{value3|slice:":2"|length }}<br>
9. {% with data="<b>우리프로젝트</b> <button>담주</button>에  <span>시작!!!!</span>" %}<br>
   {{ data|striptags }}
 {% endwith%}
<hr>
{% with value="Joel is a slug" %}
  {{ value|truncatewords:2 }} <br>
{% endwith%}

{% with value="<p>Joel is a slug</p>" %}
  {{ value|truncatewords_html:2 }}<br>
{% endwith%}

{% with value="https://www.example.org/foo?a=b&c=d" %}
  {{ value|urlencode }} <br>
{% endwith%}

<hr>
{% lorem 3 %}
{% lorem 3 p %}
{% lorem 2 w random %}




{% endblock content %}