{% extends "base.html" %}
{% block head %}
<script>

page=1
mydata=''

function call(p){
        page = p;
        mydata = $('#msg').val();
        //alert(mydata + ":" + page);
        $('#btn1').trigger("click");
}

$(function () {
    $('#btn1').click(function () {
        //alert("ajax코드");
        $.ajax({
            url: '/main/major/list/',
            dataType: 'text',
            type: 'POST',
            data: { 'mydata': $('#msg').val(),
                        'page' :page },
            success: function (result) {
                    //alert(result);
                    $('#here').html(result)
                    //result = JSON.parse(result);
                    //$('#here').text(result['msg'])
                    //$('#here').text(result["fields"]["title"]);
                    //$('#here').text(result)
            }
        });
    });
    $('#btn1').trigger("click");
});
</script>
{% endblock head %}
{% block body %}
<div class="container">
    <h1>전공 목록</h1>
    <a href='{% url 'main:major_new' %}'>신규등록 </a><br>
    <div class="input-group">
        <input type="text" id="msg" class="form-control" placeholder="검색">
        <div class="input-group-append">
            <button class="btn btn-dark" id='btn1'>
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>
<!-- List -->
<div id="here">
</div>
{% endblock body %}