    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>이름</th>
            <th>전공</th>
            <th>기술</th>
            <th>수정</th>
            <th>삭제</th>
        </thead>
        <tbody>
            {% for obj in student_list %}
            <tr>
                <td>{{obj.id}}</td>
                <td><a href="{% url 'main:student_detail' obj.id %}">{{obj.name}}</a></td>
                <td><a href="{% url 'main:student_detail' obj.id %}">{{obj.major}}</a></td>
                <td><a href="{% url 'main:student_detail' obj.id %}">{{obj.skill}}</a></td>

                <td><button class="btn btn-outline-info btn-sm"
                        onclick="location.href='{% url 'main:student_edit' obj.id %}'">수정하기</button></td>
                <td><button class="btn btn-outline-info btn-sm"
                        onclick="location.href='{% url 'main:student_delete' obj.id %}'">삭제하기</button></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
