{% extends "base.html" %}
{% block head %}
<script>
    $(function () {
        $('#btn1').click(function () {
            //alert("ajax코드");
            $.ajax({
                url: '/main/student/search/',
                dataType: 'text',
                type: 'POST',
                data: { 'mydata': $('#msg').val() },
                success: function (result) {
                    //alert(result);
                    $('#here').html(result)
                    //result = JSON.parse(result);
                    //alert(result);
                    //$('#here').text(result["fields"]["title"]);
                    //$('#here').text(result)
                }
            });
        });
    });
</script>
{% endblock head %}
{% block body %}
<div class="container">
    <h1>학생 목록</h1>
    <hr>
    <a href='{% url 'main:student_new' %}'>신규등록 </a><br>
    <div class="input-group">
        <input type="text" id="msg" class="form-control" placeholder="검색">
        <div class="input-group-append">
            <button class="btn btn-dark" id='btn1'>
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</div>
<div class="container">
    <div id="here">
    <table class="table table-hover">
        <thead>
            <th>ID</th>
            <th>이름</th>
            <th>전공</th>
            <th>기술</th>
            <th>수정</th>
            <th>삭제</th>
        </thead>
        <tbody>
            {% for obj in student_list %}
            <tr>
                <td>{{obj.id}}</td>
                <td><a href="{% url 'main:student_detail' obj.id %}">{{obj.name}}</a></td>
                <td><a href="{% url 'main:student_detail' obj.id %}">{{obj.major}}</a></td>
                <td><a href="{% url 'main:student_detail' obj.id %}">{{obj.skill}}</a></td>

                <td><button class="btn btn-outline-info btn-sm"
                        onclick="location.href='{% url 'main:student_edit' obj.id %}'">수정하기</button></td>
                <td><button class="btn btn-outline-info btn-sm"
                        onclick="location.href='{% url 'main:student_delete' obj.id %}'">삭제하기</button></td>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>
    </div>

    <div class="container">
        <!-- Pagination -->
        {% if is_paginated %}
        <nav>
            <ul class="pagination justify-content-center" style="margin:20px 0">
                {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">
                        <span>Prev</span>
                    </a>
                </li>
                {% else %}
                <li class="disabled page-item">
                    <a class="page-link" href="#">
                        <span>Prev</span>
                    </a>
                </li>
                {% endif %}

                {% for page in page_range %}
                <li {% if page == page_obj.number %} class="active page-item" {% endif %}>
                    <a class="page-link" href="?page={{ page }}">{{ page }}</a>
                </li>
                {% endfor %}
                {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">
                        <span>Next</span>
                    </a>
                </li>
                {% else %}
                <li {% if not page_obj.has_next %}class="disabled page-item" {% endif %}>
                    <a class="page-link" href="#">
                        <span>Next</span>
                    </a>
                </li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>
    {% endblock body %}